body{
    background-color: linen; 
}

.footer{
        font-style: initial;
        font-family: 'Lucida Sans';
        color: white;
        background-color: teal;
        text-align: center;
        align-items: center;
        
  }
.footer a:hover{
    opacity: 0.5;
}
.fa-facebook-official ,.fa-twitter ,.fa-linkedin{
    color: white !important;
}
.col-md-8{
    float: left;
}




/* Navigation Bar Properties */
.navbar {
    margin-top: 50px;
    vertical-align: bottom;
    min-height: 100px;
    font-weight: bold;   
    
}
.navbar .nav-link{    
    font-size: x-large;  
    
}
.navbar .navbar-brand{
     font-size: xx-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium';
    color: lightseagreen;
}

.navbar a{
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.navbar .nav-item:hover {
    border-top: 3px solid lightblue;
    background-color:rgb(238, 218, 155);
    border-radius: 20px;
  }
  
.navbar .nav-item.active {
    border-top: 3px solid lightgreen;
  }

#myCanvas{


    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
  }
 
.jumbotron {
      opacity: 0.95;
    
}