
.footer{
        font-style: initial;
        font-family: 'Lucida Sans';
        color: white;
        background-color: gray;
        text-align: center;
        align-items: center;
        
  }
.footer a:hover{
    opacity: 0.5;
}
.fa{
    color: white;
}
.col-md-8{
    float: left;
}