<!-- Navigation bar starts-->
<nav class="navbar navbar-light navbar-expand-lg bg-faded navbar-fixed-top">

    <img src="images/me.jpeg" alt="rajaramparab" class="rounded-circle ml-3" width="50px">
    <a href="index.html" class="navbar-brand d-flex w-50 m-auto">
     Data Science Enthusiast</a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3" >
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active ml-auto mr-3">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item ml-auto mr-3" >
                <a class="nav-link " href="resume.html">Resume</a>
            </li>

            <li class="nav-item img-responsive ml-auto mr-3 pl-3 pr-3">
              <a href="index.html" class="navbar-brand d-flex w-50 m-auto">
              <img class="nav-link " src="images/icon.svg" alt="Data Science Enthusiast" width="50px">
    
            </a>
          </li>

            <li class="nav-item ml-auto mr-3">
                <a class="nav-link" href="https://github.com/rajaramparab" target="_blank">Github</a>
            </li>

            <div class="nav-item dropdown ml-auto mr-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Projects
              </a>
              <div class="dropdown-menu" aria-labelledby="navbar-dropdown-menu" >
                <a class="dropdown-item" href="#">Project 1</a>
                <a class="dropdown-item" href="#">Project2</a>
                <a class="dropdown-item" href="plot.html">be colorful</a>
                <!-- to separate a another link: -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="index.html">Go to Home Page</a>
              </div>
            </div>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            
            <li class="nav-item">
                <a class="nav-link" href="resume.html">Contact Me!</a>
            </li>
        </ul>
    </div>
  </nav>
  <hr>
  <!-- Navigation bar ends-->